# python=3.12.8
langchain>=0.3.0,<0.4.0
python-dotenv
ipykernel
langchain-community>=0.3.0,<0.4.0
pypdf
bs4
arxiv
pymupdf
wikipedia
lxml
langchain_openai
langchain-text-splitters
chromadb
langchain-ollama
langchain_huggingface
sentence_transformers
faiss-cpu
langchain_chroma
