# python=3.12.3
langchain>=0.3.0,<0.4.0
python-dotenv
ipykernel
langchain-community>=0.3.0,<0.4.0
pypdf
bs4
arxiv
pymupdf
wikipedia
lxml
langchain_openai
langchain-text-splitters
chromadb
langchain-ollama
langchain-chroma
langchain_huggingface
sentence_transformers
# faiss-cpu
# faiss-gpu==1.9.0 # conda install -c pytorch -c nvidia faiss-gpu=1.9.0
langchain_chroma
langchain_groq
langchain_core
streamlit
uvicorn
fastapi
langserve
sse_starlette
langchain_community
openai
duckdb
duckduckgo-search
psycopg2-binary
pymongo
urllib3